openapi: 3.0.1
info:
  title: Insights.Api
  version: "1.0"
servers:
- url: https://data.elexon.co.uk/bmrs/api/v1
tags:
- description: Actual Generation
  name: Actual Generation
- description: "Aggregated summaries of generation forecast data, intended for visualisation\
    \ purposes."
  name: Availability
- description: "Generation forecast data, including historical views of data by publish\
    \ time or forecast date."
  name: Availability Forecast
- description: Dynamic data.
  name: Balancing Mechanism Dynamic
- description: "Physical data consists of PN, QPN, MILS, & MELS."
  name: Balancing Mechanism Physical
- description: "Adjustment actions (DISBSAD) for a given settlement period, or summarised\
    \ by settlement period over a time range."
  name: Balancing Services Adjustment - Disaggregated
- description: "Net balancing services adjustment data (NETBSAD), provided as a time\
    \ series or filtered to events."
  name: Balancing Services Adjustment - Net
- description: Bid-Offer data.
  name: Bid Offer
- description: Bid offer acceptance (BOAL) data.
  name: Bid Offer Acceptances
- description: Credit Default Notice (CDN) data.
  name: Credit Default Notice
- description: "Raw datasets as received from the National Grid, with associated metadata.\
    \ The output in JSON format matches IRIS, and can be used interchangeably with\
    \ IRIS output."
  name: Datasets
- description: "Demand control instruction data, filtered by the time range of the\
    \ instruction."
  name: Demand Control Instructions
- description: "Demand forecast data, including peak demand, and historical views\
    \ of data by publish time or forecast date."
  name: Demand Forecast
- description: "Demand outturn data, including initial demand, rolling demand and\
    \ peak demand."
  name: Demand Outturn
- description: Generation Forecast
  name: Generation Forecast
- description: "Generation by Fuel Type, including interconnectors."
  name: Generation Outturn
- description: Provides an endpoint to check the health of the Insights API service.
  name: Health Check
- description: "Day-and-day-ahead indicated forecast, categorized as Indicated Generation\
    \ (INDGEN), Indicated Demand (INDDEM), Imbalance (IMBALNGC) and Margin (MELNGC)."
  name: Indicated Forecast
- description: Loss of Load Probability and Derated Margin forecast data (LOLPDRM).
  name: Loss of Load Probability and Derated Margin
- description: "Generating Plant Operating Margin forecast data, including historical\
    \ views of data by publish time or forecast date."
  name: Margin Forecast
- description: Market Index prices filtered by time.
  name: Market Index
- description: "Short Term Operating Reserves (STOR) data, provided as a time series\
    \ or filtered to events."
  name: Non-BM STOR
- description: "Balancing Services Volume data, filtered by BM Unit and time range."
  name: Non-BM Volumes
- description: Reference data which can be used to filter other API requests.
  name: Reference
- description: REMIT data
  name: Remit
- description: "Settlement Administration Agent (SAA) calculation data, grouped by\
    \ settlement date and period."
  name: Settlement Administration Agent
- description: "Generating Plant Operating Surplus forecast data, including historical\
    \ views of data by publish time or forecast date."
  name: Surplus Forecast
- description: System frequency data filtered by time.
  name: System Frequency
- description: System warning data filtered by time and warning type.
  name: System Warnings
- description: Daily average & reference temperatures.
  name: Temperature
- description: Total demand data filtered by settlement date and time.
  name: Total Demand
- description: Total demand forecast data filtered by forecast time
  name: Total Demand Forecast
- description: "Wind generation forecast data, provided as latest, earliest, peak\
    \ and historical forecast data."
  name: Wind Generation Forecast
paths:
  /generation/actual/per-type:
    get:
      description: "⚠ This endpoint provides a down-sampled data summary intended\
        \ for visualisation purposes.\r\nDepending on the quantity of data requested,\
        \ data returned may be averaged hourly, daily,\r\nweekly or monthly. Quantities\
        \ are rounded to the nearest MWh.\r\nUse /datasets/AGPT for full access.\r\
        \n            \r\nThis endpoint provides actual aggregated generation data\
        \ per Power System Resource type \r\n(Fuel Type categories as defined by Commission\
        \ Regulation (EU) No 543/2013).\r\n\r\nThis endpoint filters by startTime,\
        \ and groups results by settlement period."
      parameters:
      - example: 2023-07-20
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - example: 2023-07-22
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - example: 13
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          example: 13
          format: int32
          type: integer
        style: form
      - example: 19
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          example: 19
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationBySettlementPeriod'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationBySettlementPeriod'
          description: Success
      summary: Actual Aggregated Generation Per Type (AGPT / B1620)
      tags:
      - Actual Generation
      - Transparency
  /generation/actual/per-type/day-total:
    get:
      description: "This endpoint provides aggregated AGPT (B1620) data. It returns\
        \ totals and percentages\r\nfor the last half hour and 24 hours for each generation\
        \ type."
      parameters:
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Transparency.AgptSummaryData'
                type: array
          description: Data retrieved
        "500":
          description: Server error - please try again later
      summary: 24-hour Actual Generation Per Type (AGPT / B1620) summary data
      tags:
      - Actual Generation
      - Transparency
  /generation/actual/per-type/wind-and-solar:
    get:
      description: "This endpoint provides actual or estimated wind and solar power\
        \ generation\r\nper settlement period. It returns generation with Power System\
        \ Resource type\r\nSolar, Wind Onshore or Wind Offshore (Fuel Type categories\
        \ as defined by\r\nCommission Regulation (EU) No 543/2013).\r\n          \
        \  \r\nThis endpoint filters by startTime and provides a maximum data output\
        \ range of 7 days."
      parameters:
      - example: 2023-07-18
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - example: 2023-07-21
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - example: 36
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          example: 36
          format: int32
          type: integer
        style: form
      - example: 12
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          example: 12
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Transparency.ActualGenerationWindSolar'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Actual Or Estimated Wind And Solar Power Generation (AGWS / B1630)
      tags:
      - Actual Generation
      - Transparency
  /generation/availability/summary/14D:
    get:
      description: "This endpoint provides a summary of generation forecast data aggregated\
        \ by forecast date,\r\nintended for visualisation purposes. Use datasets endpoints\
        \ for full dataset access."
      parameters:
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
          description: Success
      summary: Fourteen-day generation forecast
      tags:
      - Availability
  /generation/availability/summary/3YW:
    get:
      description: "This endpoint provides a summary of generation forecast data aggregated\
        \ by forecast date,\r\nintended for visualisation purposes. Use datasets endpoints\
        \ for full dataset access."
      parameters:
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Insights.Api.Models.Responses.Generation.AggregatedForecast'
                type: array
          description: Success
      summary: Three-year generation forecast
      tags:
      - Availability
  /forecast/availability/daily:
    get:
      description: This endpoint provides the latest fourteen-day generation forecast
      parameters:
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
          description: Success
      summary: Fourteen-day generation forecast
      tags:
      - Availability Forecast
  /forecast/availability/weekly:
    get:
      description: This endpoint provides the latest three-year generation forecast
      parameters:
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
          description: Success
      summary: Weekly Generation Forecast
      tags:
      - Availability Forecast
  /forecast/availability/daily/history:
    get:
      description: This endpoint provides the latest fourteen-day generation forecast
        from a given DateTime
      parameters:
      - explode: true
        in: query
        name: publishTime
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
          description: Success
      summary: Historic Fourteen-day generation forecast
      tags:
      - Availability Forecast
  /forecast/availability/weekly/history:
    get:
      description: This endpoint provides the latest three-year forecast from a given
        DateTime
      parameters:
      - explode: true
        in: query
        name: publishTime
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
          description: Success
      summary: Historic Weekly generation forecast
      tags:
      - Availability Forecast
  /forecast/availability/daily/evolution:
    get:
      description: "This endpoint provides the evolution of all daily generation forecasts\
        \ over time for a given Forecast Date.\r\n            \r\nDate parameter must\
        \ be provided in the exact format yyyy-MM-dd."
      parameters:
      - description: The forecast date for the filter. This must be in the format
          yyyy-MM-dd.
        example: 2022-09-20
        explode: true
        in: query
        name: forecastDate
        required: true
        schema:
          example: 2022-09-20
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily'
          description: Success
      summary: Evolution Daily Generation Forecast
      tags:
      - Availability Forecast
  /forecast/availability/weekly/evolution:
    get:
      description: This endpoint provides all weekly generation forecasts over time
        for a given Year and Week
      parameters:
      - explode: true
        in: query
        name: year
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: week
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: level
        required: false
        schema:
          enum:
          - total
          - fuelType
          - bmUnit
          type: string
        style: form
      - explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: fuelType
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly'
          description: Success
      summary: Weekly Generation Forecast
      tags:
      - Availability Forecast
  /balancing/dynamic:
    get:
      description: "This endpoint provides the dynamic data for a requested BMU, excluding\
        \ physical rate data.\r\nIt returns a \"snapshot\" of data valid at a given\
        \ time, and optionally a time series of changes over a requested interval.\r\
        \n            \r\nBy default, all of the relevant datasets are returned: SIL,\
        \ SEL, NDZ, NTB, NTO, MZT, MNZT, MDV, MDP.\r\nThe results from each dataset\
        \ are transformed to a common response model, with the common integer field\
        \ *Value*\r\nmapped from the fields *Level*, *Period*, *Volume* or *Notice*\
        \ in the original dataset, as relevant."
      parameters:
      - description: The BM Unit to query.
        example: 2__HFLEX001
        explode: true
        in: query
        name: bmUnit
        required: true
        schema:
          example: 2__HFLEX001
          type: string
        style: form
      - description: "When to retrieve a snapshot of data at.\r\nThat is, the latest\
          \ datapoint before this time will be returned for each dataset."
        example: 2022-08-23T00:00Z
        explode: true
        in: query
        name: snapshotAt
        required: true
        schema:
          example: 2022-08-23T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: "When to retrieve data until.\r\nData from the snapshot until\
          \ this time will be returned."
        example: 2022-08-24T00:00Z
        explode: true
        in: query
        name: until
        required: false
        schema:
          example: 2022-08-24T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: "The settlement period to retrieve a snapshot of data at.\r\n\
          If provided, the time part of SnapshotAt will be ignored."
        example: 2
        explode: true
        in: query
        name: snapshotAtSettlementPeriod
        required: false
        schema:
          example: 2
          format: int32
          type: integer
        style: form
      - description: "The settlement period to retrieve data until.\r\nIf provided,\
          \ the time part of Until will be ignored."
        example: 2
        explode: true
        in: query
        name: untilSettlementPeriod
        required: false
        schema:
          example: 2
          format: int32
          type: integer
        style: form
      - description: "Datasets to filter. If omitted, all datasets will be returned."
        example:
        - SEL
        - MNZT
        - MDP
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          example:
          - SEL
          - MNZT
          - MDP
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Dynamic Datasets Per-BMU
      tags:
      - Balancing Mechanism Dynamic
  /balancing/dynamic/all:
    get:
      description: "This endpoint provides the dynamic data for multiple requested\
        \ BMUs or all BMUs, excluding dynamic rate data.\r\nIt returns the data valid\
        \ for a single settlement period. This includes a snapshot of data valid at\
        \ the start\r\nof the settlement period, and any changes published during\
        \ that settlement period.\r\n            \r\nBy default, all of the relevant\
        \ datasets are returned: SIL, SEL, NDZ, NTB, NTO, MZT, MNZT, MDV & MDP.\r\n\
        The results from each dataset are transformed to a common response model,\
        \ with the common integer field *Value*\r\nmapped from the fields *Level*,\
        \ *Period*, *Volume* or *Notice* in the original dataset, as relevant.\r\n\
        \            \r\nThe settlement period to query can be specified as a date\
        \ and settlement period, or as a datetime\r\nwhich will resolve to the settlement\
        \ period that time falls within.\r\n\r\nAll Dates and DateTimes should be\
        \ expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n\r\nSome examples of date parameter combinations\
        \ are shown below.\r\n            \r\nFiltering by datetime:\r\n         \
        \   \r\n    /balancing/dynamic/all?settlementDate=2023-01-18T01:00Z\r\n  \
        \          \r\nFiltering by settlement date and period:\r\n            \r\n\
        \    /balancing/dynamic/all?settlementDate=2023-01-18&settlementPeriod=3"
      parameters:
      - description: The settlement date or datetime to filter.
        example: 2023-01-18
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The settlement period to filter. This should be an integer from
          1-50 inclusive.
        example: 3
        explode: true
        in: query
        name: settlementPeriod
        required: false
        schema:
          example: 3
          format: int32
          type: integer
        style: form
      - description: "The BM Units to query. Elexon or NGC BMU IDs can be used. If\
          \ omitted, results for all BM units will be returned."
        example:
        - 2__HFLEX001
        - HUMR-1
        explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          example:
          - 2__HFLEX001
          - HUMR-1
          items:
            type: string
          type: array
        style: form
      - description: "Datasets to filter. If omitted, all datasets will be returned."
        example:
        - SEL
        - MNZT
        - MDP
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          example:
          - SEL
          - MNZT
          - MDP
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Dynamic Datasets Market-wide
      tags:
      - Balancing Mechanism Dynamic
  /balancing/dynamic/rates:
    get:
      description: "This endpoint provides the physical rate data for a requested\
        \ BMU.\r\nIt returns a \"snapshot\" of data valid at a given time, and optionally\
        \ a time series of changes over a requested interval.\r\n            \r\n\
        By default, all of the relevant datasets are returned: RDRE, RURE, RDRI, RURI."
      parameters:
      - description: The BM Unit to query.
        example: DRAXX-1
        explode: true
        in: query
        name: bmUnit
        required: true
        schema:
          example: DRAXX-1
          type: string
        style: form
      - description: "When to retrieve a snapshot of data at.\r\nThat is, the latest\
          \ datapoint before this time will be returned for each dataset."
        example: 2022-09-01T00:00Z
        explode: true
        in: query
        name: snapshotAt
        required: true
        schema:
          example: 2022-09-01T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: "When to retrieve data until.\r\nData from the snapshot until\
          \ this time will be returned."
        example: 2022-09-30T00:00Z
        explode: true
        in: query
        name: until
        required: false
        schema:
          example: 2022-09-30T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: "The settlement period to retrieve a snapshot of data at.\r\n\
          If provided, the time part of SnapshotAt will be ignored."
        example: 2
        explode: true
        in: query
        name: snapshotAtSettlementPeriod
        required: false
        schema:
          example: 2
          format: int32
          type: integer
        style: form
      - description: "The settlement period to retrieve data until.\r\nIf provided,\
          \ the time part of Until will be ignored."
        example: 2
        explode: true
        in: query
        name: untilSettlementPeriod
        required: false
        schema:
          example: 2
          format: int32
          type: integer
        style: form
      - description: "Datasets to filter. If empty, all datasets will be returned."
        example:
        - RURE
        - RDRE
        - RDRI
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          example:
          - RURE
          - RDRE
          - RDRI
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Rate Datasets Per-BMU
      tags:
      - Balancing Mechanism Dynamic
  /balancing/dynamic/rates/all:
    get:
      description: "This endpoint provides market-wide physical rate data, for all\
        \ BMUs or a requested set of multiple BMUs.\r\nIt returns the data valid for\
        \ a given settlement period. This includes a snapshot of data valid at the\
        \ start\r\nof the settlement period, and any changes published during that\
        \ settlement period.\r\n            \r\nThe settlement period to query can\
        \ be specified as a date and settlement period, or as a datetime\r\nwhich\
        \ will resolve to the settlement period that time falls within.\r\n\r\nBy\
        \ default, all of the relevant datasets are returned: RDRE, RURE, RDRI, RURI.\r\
        \n            \r\nAll Dates and DateTimes should be expressed as defined within\r\
        \n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"\
        _blank\">RFC 3339</a>.\r\n\r\nSome examples of date parameter combinations\
        \ are shown below.\r\n            \r\nFiltering by datetime:\r\n         \
        \   \r\n    /balancing/dynamic/rates/all?settlementDate=2023-01-18T01:00Z\r\
        \n            \r\nFiltering by settlement date and period:\r\n           \
        \ \r\n    /balancing/dynamic/rates/all?settlementDate=2023-01-18&settlementPeriod=3"
      parameters:
      - description: The settlement date or datetime to filter.
        example: 2022-09-01T00:00Z
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          example: 2022-09-01T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The settlement period to filter. This should be an integer from
          1-50 inclusive.
        example: 2
        explode: true
        in: query
        name: settlementPeriod
        required: false
        schema:
          example: 2
          format: int32
          type: integer
        style: form
      - description: "The BM Units to query. Elexon or NGC BMU IDs can be used. If\
          \ omitted, results for all BM units will be returned."
        example:
        - 2__HFLEX001
        - HUMR-1
        explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          example:
          - 2__HFLEX001
          - HUMR-1
          items:
            type: string
          type: array
        style: form
      - description: "Datasets to return. If omitted, all datasets will be returned."
        example:
        - RURE
        - RDRE
        - RDRI
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          example:
          - RURE
          - RDRE
          - RDRI
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Rate Datasets Market-Wide
      tags:
      - Balancing Mechanism Dynamic
  /balancing/physical:
    get:
      description: "This endpoint provides the physical data for a requested BMU.\r\
        \nIt returns the data valid over a given time range.\r\n            \r\nBy\
        \ default, all of the relevant datasets are returned: PN, QPN, MILS, & MELS.\r\
        \nThe results from each dataset are transformed to a common response model,\
        \ with fields not present in all 4 datasets dropped.\r\n            \r\nBy\
        \ default, the from and to parameters filter the data by start time inclusively.\
        \ If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided,\
        \ the corresponding from or to parameter instead filters on settlement\r\n\
        date, allowing for searching by a combination of start time and/or settlement\
        \ date & settlement period.\r\nNote: When filtering via settlement date, from/to\
        \ are treated as Dates only, with the time being ignored. For\r\nexample,\
        \ 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement\
        \ date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed\
        \ as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date\
        \ parameter combinations are shown below.\r\n            \r\nFiltering from\
        \ start time to start time:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\
        \n            \r\nFiltering from start time to settlement date and period:\r\
        \n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\
        \n            \r\nFiltering from settlement date and period to start time:\r\
        \n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\
        \n            \r\nFiltering from settlement date and period to settlement\
        \ date and period:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - description: The BM Unit to query.
        example: 2__HFLEX001
        explode: true
        in: query
        name: bmUnit
        required: true
        schema:
          example: 2__HFLEX001
          type: string
        style: form
      - description: The "from" start time or settlement date for the filter.
        example: 2022-09-22T00:00Z
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2022-09-22T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "to" start time or settlement date for the filter.
        example: 2022-09-23T00:00Z
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2022-09-23T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "from" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The "to" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Datasets to filter. If empty, all datasets will be returned."
        example:
        - PN
        - MILS
        explode: true
        in: query
        name: dataset
        required: false
        schema:
          example:
          - PN
          - MILS
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Physical Datasets Per-BMU
      tags:
      - Balancing Mechanism Physical
  /balancing/physical/all:
    get:
      description: "This endpoint provides the physical data for multiple requested\
        \ BMUs or all BMUs.\r\nIt returns the data valid for a single settlement period.\r\
        \n            \r\nOnly one dataset can be queried at a time: PN, QPN, MILS,\
        \ or MELS.\r\nThe results from each dataset are transformed to a common response\
        \ model, with fields not present in all 4 datasets dropped.\r\n          \
        \  \r\nThe settlement period to query can be specified as a date and settlement\
        \ period, or as a datetime\r\nwhich will resolve to the settlement period\
        \ that time falls within.\r\n\r\nAll Dates and DateTimes should be expressed\
        \ as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n            \r\nNote: When a settlementPeriod\
        \ is supplied, the settlementDate parameter is treated as a Date only, with\
        \ the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z\
        \ are both treated as the settlement date 2022-06-01.\r\n\r\nSome examples\
        \ of date parameter combinations are shown below.\r\n            \r\nFiltering\
        \ by settlement date and period:\r\n            \r\n    /balancing/physical/all?dataset=PN&settlementDate=2023-01-18&settlementPeriod=3\r\
        \n\r\nFiltering by datetime:\r\n            \r\n    /balancing/physical/all?dataset=PN&settlementDate=2023-01-18T01:00Z"
      parameters:
      - description: Dataset to query.
        explode: true
        in: query
        name: dataset
        required: true
        schema:
          enum:
          - PN
          - QPN
          - MILS
          - MELS
          type: string
        style: form
      - description: The settlement date or datetime for the filter.
        example: 2023-01-18
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The settlement period for the filter. This should be an integer
          from 1-50 inclusive.
        example: 3
        explode: true
        in: query
        name: settlementPeriod
        required: false
        schema:
          example: 3
          format: int32
          type: integer
        style: form
      - description: "The BM Units to query. Elexon or NGC BMU IDs can be used. If\
          \ omitted, results for all BM units will be returned."
        example:
        - 2__HFLEX001
        - HUMR-1
        explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          example:
          - 2__HFLEX001
          - HUMR-1
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Physical Datasets Market-wide
      tags:
      - Balancing Mechanism Physical
  /balancing/nonbm/disbsad/summary:
    get:
      description: "This endpoint provides disaggregated balancing services adjustment\
        \ data batched by settlement period. Each\r\nbatch in the time series contains\
        \ a summary of all records for that settlement period, detailing the number\
        \ of\r\nbuy and sell actions, price information and volume information.\r\n\
        \r\nBy default, the from and to parameters filter the data by start time inclusively.\
        \ If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided,\
        \ the corresponding from or to parameter instead filters on settlement\r\n\
        date, allowing for searching by a combination of start time and/or settlement\
        \ date & settlement period.\r\nNote: When filtering via settlement date, from/to\
        \ are treated as Dates only, with the time being ignored. For\r\nexample,\
        \ 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement\
        \ date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed\
        \ as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date\
        \ parameter combinations are shown below.\r\n            \r\nFiltering from\
        \ start time to start time:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\
        \n            \r\nFiltering from start time to settlement date and period:\r\
        \n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\
        \n            \r\nFiltering from settlement date and period to start time:\r\
        \n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\
        \n            \r\nFiltering from settlement date and period to settlement\
        \ date and period:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - description: The "from" start time or settlement date for the filter.
        example: 2022-09-20T00:00Z
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2022-09-20T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "to" start time or settlement date for the filter.
        example: 2022-09-27T00:00Z
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2022-09-27T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "from" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The "to" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Disaggregated balancing services adjustment (DISBSAD) time series
      tags:
      - Balancing Services Adjustment - Disaggregated
  /balancing/nonbm/disbsad/details:
    get:
      description: "This endpoint provides disaggregated balancing services adjustment\
        \ data for a single settlement period. The\r\nresponse includes all the buying\
        \ and selling actions that occurred during that settlement period.\r\n   \
        \         \r\nDate parameter must be provided in the exact format yyyy-MM-dd."
      parameters:
      - description: The settlement date to query.
        example: 2022-10-26
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          example: 2022-10-26
          format: date
          type: string
        style: form
      - description: The settlement period to query. This should be an integer from
          1-50 inclusive.
        example: 3
        explode: true
        in: query
        name: settlementPeriod
        required: true
        schema:
          example: 3
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Disaggregated balancing services adjustment (DISBSAD) per settlement
        period
      tags:
      - Balancing Services Adjustment - Disaggregated
  /balancing/nonbm/netbsad:
    get:
      description: "This endpoint provides data about the Net Balancing Services Adjustment\
        \ (NETBSAD). Each\r\nentry in the time series contains the NETBSAD values\
        \ for that settlement period.\r\n            \r\nBy default, the from and\
        \ to parameters filter the data by time inclusively. If the settlementPeriodFrom\
        \ or\r\nsettlementPeriodTo parameters are provided, the corresponding from\
        \ or to parameter instead filters on settlement\r\ndate, allowing for searching\
        \ by a combination of time and/or settlement date & settlement period.\r\n\
        Note: When filtering via settlement date, from/to are treated as Dates only,\
        \ with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z\
        \ are both treated as the settlement date 2022-06-01.\r\n            \r\n\
        All Dates and DateTimes should be expressed as defined within\r\n<a href=\"\
        https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\"\
        >RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations\
        \ are shown below.\r\n            \r\nFiltering from start time to start time:\r\
        \n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\
        \n            \r\nFiltering from start time to settlement date and period:\r\
        \n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\
        \n            \r\nFiltering from settlement date and period to start time:\r\
        \n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\
        \n            \r\nFiltering from settlement date and period to settlement\
        \ date and period:\r\n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - description: The "from" start time or settlement date for the filter.
        example: 2022-06-01T00:00Z
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2022-06-01T00:00:00Z
          format: date-time
          type: string
          x-max-day-range-including-zeroes: 31
          x-max-day-range-excluding-zeroes: 3653
        style: form
      - description: The "to" start time or settlement date for the filter.
        example: 2022-07-01T00:00Z
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2022-07-01T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "from" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The "to" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Include data points with a generation of zero.
        example: false
        explode: true
        in: query
        name: includeZero
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Net Balancing Services Adjustment (NETBSAD) time series
      tags:
      - Balancing Services Adjustment - Net
  /balancing/nonbm/netbsad/events:
    get:
      description: "This endpoint provides data about the start of NGESO Net Balancing\
        \ Services Adjustment (NETBSAD) events.\r\nAn event is a point in time where\
        \ one of the NETBSAD values has changed from 0 to a value.\r\nEach event details\
        \ the start time of the event and the NETBSAD values associated with the start\
        \ of the event.\r\n            \r\nBy default, the before parameter filters\
        \ the data by start time. If the settlementPeriodBefore parameter is\r\nprovided,\
        \ the before parameter instead filters on settlement date, allowing for searching\
        \ by start time or\r\nsettlement date & settlement period.\r\nNote: When filtering\
        \ via settlement date, before is treated as a Date only, with the time being\
        \ ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both\
        \ treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates\
        \ and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date\
        \ parameter combinations are shown below.\r\n            \r\nFiltering latest\
        \ 3 events:\r\n            \r\n    /balancing/nonbm/netbsad/events?count=3\r\
        \n            \r\nFiltering latest 3 events before start time:\r\n       \
        \     \r\n    /balancing/nonbm/netbsad/events?before=2022-08-01T00:00Z&count=3\r\
        \n            \r\nFiltering latest 3 events before settlement date and settlement\
        \ period:\r\n            \r\n    /balancing/nonbm/netbsad/events?before=2022-08-01T00:00Z&settlementPeriodBefore=48&count=3"
      parameters:
      - description: The number of events to return.
        example: 3
        explode: true
        in: query
        name: count
        required: true
        schema:
          example: 3
          format: int32
          type: integer
          x-max-event-count: 100
        style: form
      - description: "If specified, filters events to those with a start time before\
          \ or at the date, or a settlement date before the date if\r\nsettlementPeriodBefore\
          \ is also specified.\r\nIf omitted, latest events are returned."
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filters events to those with a settlement period before or at\
          \ the value.\r\nBefore parameter must be specified if this is specified."
        explode: true
        in: query
        name: settlementPeriodBefore
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Net Balancing Services Adjustment (NETBSAD) events
      tags:
      - Balancing Services Adjustment - Net
  /balancing/bid-offer:
    get:
      description: "This endpoint provides the Bid-Offer data for a requested BMU.\
        \ It returns the data valid over a given time\r\nrange, excluding any results\
        \ where LevelFrom and LevelTo are both zero.\r\n            \r\nBy default,\
        \ the from and to parameters filter the data inclusively and this endpoint\
        \ will return any data that\r\noverlaps even at a single instant. If the settlementPeriodFrom\
        \ or settlementPeriodTo parameters are provided, it\r\nwill instead filter\
        \ to return any data that overlaps with the specified range of settlement\
        \ periods. It is\r\npossible to search using a combination of time and/or\
        \ settlement date & settlement period. Note: When\r\nfiltering via settlement\
        \ date, from/to are treated as Dates only, with the time being ignored. For\
        \ example,\r\n2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as\
        \ the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes\
        \ should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\"\
        \ target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date\
        \ parameter combinations are shown below.\r\n            \r\nFiltering by\
        \ timeFrom and timeTo:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\
        \n            \r\nFiltering from timeFrom to settlement date and period:\r\
        \n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\
        \n            \r\nFiltering from settlement date and period to TimeTo:\r\n\
        \            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\
        \n            \r\nFiltering from settlement date and period to settlement\
        \ date and period:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - description: The BM Unit to query.
        example: 2__HFLEX001
        explode: true
        in: query
        name: bmUnit
        required: true
        schema:
          example: 2__HFLEX001
          type: string
        style: form
      - description: The "from" start time or settlement date for the filter.
        example: 2022-09-22T00:00Z
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2022-09-22T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "to" start time or settlement date for the filter.
        example: 2022-09-23T00:00Z
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2022-09-23T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "from" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The "to" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Bid-Offer Data Per-BMU
      tags:
      - Bid Offer
  /balancing/bid-offer/all:
    get:
      description: "This endpoint provides market-wide Bid-Offer data, for all BMUs\
        \ or a requested set of multiple BMUs.\r\nIt returns the data valid for a\
        \ given settlement period, excluding any results where LevelFrom and LevelTo\
        \ are both zero.\r\n            \r\nThe settlement period to query can be\
        \ specified as a date and settlement period, or as a datetime\r\nwhich will\
        \ resolve to the settlement period that time falls within.\r\n           \
        \ \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a\
        \ href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"\
        _blank\">RFC 3339</a>.\r\n            \r\nNote: When a settlementPeriod is\
        \ supplied, the settlementDate parameter is treated as a Date only, with the\
        \ time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z\
        \ are both treated as the settlement date 2022-06-01.\r\n\r\nSome examples\
        \ of date parameter combinations are shown below.\r\n            \r\nFiltering\
        \ by settlement date and period:\r\n            \r\n    /balancing/bid-offer/all?settlementDate=2023-01-18&settlementPeriod=3\r\
        \n            \r\nFiltering by datetime:\r\n            \r\n    /balancing/bid-offer/all?settlementDate=2023-01-18T01:00Z"
      parameters:
      - description: The settlement date or datetime to filter.
        example: 2022-09-22
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The settlement period to filter. This should be an integer from
          1-50 inclusive.
        example: 1
        explode: true
        in: query
        name: settlementPeriod
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: "The BM Units to query. Elexon or NGC BMU IDs can be used. If\
          \ omitted, results for all BM units will be returned."
        example:
        - 2__HFLEX001
        - HUMR-1
        explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          example:
          - 2__HFLEX001
          - HUMR-1
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Bid-Offer Market-Wide Data
      tags:
      - Bid Offer
  /balancing/acceptances:
    get:
      description: "This endpoint provides the bid offer acceptance data (BOAL) for\
        \ a requested BMU.\r\n            \r\nBy default, the from and to parameters\
        \ filter the data by start time inclusively. If the settlementPeriodFrom or\r\
        \nsettlementPeriodTo parameters are provided, the corresponding from or to\
        \ parameter instead filters on settlement\r\ndate, allowing for searching\
        \ by a combination of start time and/or settlement date & settlement period.\r\
        \nNote: When filtering via settlement date, from/to are treated as Dates only,\
        \ with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z\
        \ are both treated as the settlement date 2022-06-01.\r\n            \r\n\
        All Dates and DateTimes should be expressed as defined within\r\n<a href=\"\
        https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\"\
        >RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations\
        \ are shown below.\r\n            \r\nFiltering from start time to start time:\r\
        \n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\
        \n            \r\nFiltering from start time to settlement date and period:\r\
        \n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\
        \n            \r\nFiltering from settlement date and period to start time:\r\
        \n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\
        \n            \r\nFiltering from settlement date and period to settlement\
        \ date and period:\r\n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1"
      parameters:
      - description: The BM Unit to query.
        example: T_MILWW-1
        explode: true
        in: query
        name: bmUnit
        required: true
        schema:
          example: T_MILWW-1
          type: string
        style: form
      - description: The "from" start time or settlement date for the filter.
        example: 2022-10-03T00:00Z
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2022-10-03T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "to" start time or settlement date for the filter.
        example: 2022-10-06T00:00Z
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2022-10-06T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: The "from" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodFrom
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The "to" settlement period for the filter. This should be an
          integer from 1-50 inclusive.
        explode: true
        in: query
        name: settlementPeriodTo
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Bid Offer Acceptances Per-BMU
      tags:
      - Bid Offer Acceptances
  /balancing/acceptances/all:
    get:
      description: "This endpoint provides the bid offer acceptance data (BOAL) for\
        \ multiple requested BMUs or all BMUs.\r\nIt returns the data valid for a\
        \ single settlement period.\r\n            \r\nThe settlement period to query\
        \ can be specified as a date and settlement period, or as a datetime\r\nwhich\
        \ will resolve to the settlement period that time falls within.\r\n\r\nAll\
        \ Dates and DateTimes should be expressed as defined within\r\n<a href=\"\
        https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\"\
        >RFC 3339</a>.\r\n            \r\nNote: When a settlementPeriod is supplied,\
        \ the settlementDate parameter is treated as a Date only, with the time being\
        \ ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both\
        \ treated as the settlement date 2022-06-01.\r\n\r\nSome examples of date\
        \ parameter combinations are shown below.\r\n            \r\nFiltering by\
        \ settlement date and period:\r\n            \r\n    /balancing/acceptances/all?settlementDate=2023-01-24&settlementPeriod=39\r\
        \n            \r\nFiltering by datetime:\r\n            \r\n    /balancing/acceptances/all?settlementDate=2023-01-24T19:00Z"
      parameters:
      - description: The settlement date or datetime for the filter.
        example: 2023-01-24
        explode: true
        in: query
        name: settlementDate
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The settlement period for the filter. This should be an integer
          from 1-50 inclusive.
        example: 39
        explode: true
        in: query
        name: settlementPeriod
        required: false
        schema:
          example: 39
          format: int32
          type: integer
        style: form
      - description: "The BM Units to query. Elexon or NGC BMU IDs can be used. If\
          \ omitted, results for all BM units will be returned."
        example:
        - T_DINO-2
        - HUMR-1
        explode: true
        in: query
        name: bmUnit
        required: false
        schema:
          example:
          - T_DINO-2
          - HUMR-1
          items:
            type: string
          type: array
        style: form
      - description: Response data format. Use json/xml to include metadata.
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          - csv
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse'
          description: Data retrieved
        "400":
          description: Error with query parameters - see response for details
        "500":
          description: Server error - please try again later
      summary: Bid Offer Acceptances Market-wide
      tags:
      - Bid Offer Acceptances
  /CDN:
    get:
[...]
